.graph-container{
    width: 60%;
    height: flex;
    background-color: #311b7d;

    align-content:center;
    align-items:center;
    text-align:left;
    padding-left: 10px;
}

.dark-mode{
    color: #fff;
}

.graph-canvas {
    width: 100%;
    height: 100%;
    margin: 0px 10px 10px 0px;
    background-color: rgb(24, 7, 60);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}