.transactions-container{
    width: 40%;
    height: flex;
    background-color: #311b7d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0px;
}