.container{
    width: 400px;
    height: flex;
    background-color: #311b7d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.dark-mode{
    color: #fff;
}
