.stock{
    width: 200px;
    height: 50px;
    outline: 3px solid #a19fa2;
    background-color: #835db8;
    

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dark-mode{
    color: #fff;
}